@model LancheListViewModel

@{
    ViewData["Title"] = "List";
}

<div class="explore-food wrapper">
    <div class="container">

        <div class="row pt-5">
            @foreach (var lanche in Model.Lanches)
            {
               <partial name="_LancheResumo" for="@lanche"/>
            }
            </div>

        </div>

</div>
